.A{
  height: 25vh;
  width: full;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
 
}
.main{
    display: flex;
    height: 75vh;
   
    border: 2px solid black;
}
.F{
    border: 2px solid red;
    width: 40vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.B{
    border: 2px solid red;
    width: 61vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
   
}

.parent{
    display: flex;
    margin: 5px;
    gap: 3px;
   
    /* border: 2px solid black; */
}
.C{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    width: 20vw;

}
.D{
display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    width: 20vw;
    height: 32vh ;

}
.E{
display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    width: 20vw;

}
@media only screen and (max-width: 600px) {
   .container{
    display: flex;
    flex-direction: column;
   }
   .main{
    display: flex;
    flex-direction: column;
   }
   .B{
    width: auto;
   }
   .F{
    width: auto;
    height: 40vh;
   }
   .parent{
    width: auto;
   }
   .C{
    width: 30vw;
   }
    
    .D{
        width: 30vw;
    }
    .E{
        width: 30vw;
    }
}